
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	background-image: linear-gradient(#B3D4FF, #fff);
}
/*header start*/
header {
	
}

.wrapper {
	width: 90%;
	margin: 0 auto;
	overflow: hidden;

}

.header-bg {
	padding: 10px 0;
	background-color: #fff;
	min-height: 65px;
}

.logo {
	width: 25%;
	float: left;
	cursor: pointer;
}

.logo img {
	height: 100%;
	width: 100%;
}


.menu {
	width: 65%;
	float: right;
}

.menu ul {
	margin-top: 15px;
    float: right;
}
.menu ul li {
	list-style: none;
	float: left;
	margin-right: 10px;
	transition: .3s;
}

.menu ul li:hover {
	background-color: #5B6A84;
	border-radius: 5px;
}


.menu ul li a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #848E9A;
    padding: 10px 15px;
    display: block;
    text-transform: uppercase;
    transition: .3s;
}

.menu ul li:hover a {
	color: #fff;
}
/*header end*/


/*/*banner area start*/
.banner-bg {
	background-image: url("../images/banner_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	min-height: 400px;
}

.banner-area {

}

.banner-text {
		width: 300px;
		margin-top: 90px;
		margin-left: 50px;
		background-color: #47464E;
		opacity: .6;
		padding: 20px;
}

.banner-text h2 {
    margin-bottom: 15px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700; 
}
.banner-text p {
	margin-bottom: 15px;
	color: #fff;
}
.banner-text button {
    padding: 5px 10px;
    background: #514242;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    transition: .3s;
    display: block;
    color: #fff;
    cursor: pointer;
    border: 1px solid #ddd;
}

.banner-text button:hover {
	background: #3C3231;
}


/*/*banner area end*/

/*services area start*/
.services-area {
	
}

.services {
	padding: 60px 0;
	background-color: #FFFFFF;
 	text-align: center;
 	overflow: hidden;
}

.single-service {
	width: 30%;
	margin: 20px;
	float: left;

}


.single-service h2 {
	text-align: center;
    margin-bottom: 15px;
    color: #666;
    font-family: sans-serif;
}
.single-service img {
	width: 100%;
	height: 220px;
}
.single-service p {
	color: #282828;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 20px 0;
}
.single-service button {
	background-color: #486381;	
	padding: 10px 20px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	margin-bottom: 20px;
	transition: .3s;
}

.single-service button:hover {
	background-color: #3498DB;
	color: #fff;
}

/*services area end*/

/*footer area start*/

.footer {}
.footer-content {
	text-align: center;
	background-color: #FCFDFF;
	padding: 30px 0 50px;
}
.footer-content h3 {
	color: #5B6A84;
	font-family: sans-serif;
	margin-bottom: 10px;
}
.footer-content p {
	color: #282828;
	font-family: sans-serif;
	font-size: 16px;
}
.social-icons {
	margin-top: 20px;
}

.social-icons i {
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
}
.social-icons i.fa-facebook-f {
	background-color: #486381;
	padding: 8px 15px;
	font-size: 22px;
	color: #fff;
}
.social-icons i.fa-twitter {
	background-color: #00ACED;
	padding: 8px 10px;
	font-size: 22px;
	color: #fff;
}

.social-icons i.fa-google-plus-g {
	background-color: #DC5043;
	padding: 8px 8px;
	font-size: 22px;
	color: #fff;
}

.social-icons i.fa-rss {
	background-color: #F28D35;
	padding: 8px 10px;
	font-size: 22px;
	color: #fff;
}

/*footer area end*/